
.Portada{
    display: flex;
    align-items: center;
    /* justify-content:space-between; */
    flex-grow: 3;
    background-color: rgb(175, 0, 0);
    flex-basis: 100%;
    text-align: center;
}
#port_izq, #port_der{
    display: flex;
    justify-content: center;
    flex-grow: 1;
    color: white;
    flex-basis: 50%;
    font-style: italic;
    font-size:45px;
    font-family: cursive;
}
#port_der{
    flex-direction: column;
}
.navbar {
    background-color: #0e0f46;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
  
  .navbar-nav-izq {
    display: flex;
    list-style-type: none;
    margin: 0px;
    justify-content:flex-start;
    margin: 0%;
    font-size: small;
  }
  
.navbar-nav-der {
    display: flex;
    list-style-type: none;
    justify-content:flex-end;
}

.nav-item {
    /* margin-right: 10; */
    font-size: 17px ;
}
  
.nav-link {
    color: #fff;
    text-decoration: none;
    padding: 15px;
}

.nav-link-pat {
    text-decoration: none;
    margin-left: 20px;
}
  
.nav-link:hover {
    background-color: #321df1;
}

.contenido_principal{
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: x-large;
    font-family: cursive;
    font-style: italic;
}
.noticias{
    display: flex;
    justify-content:space-around;
    font-size:23px;
    text-align: center;
}