.navbar {
    background-color: #0e0f46;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
  
  .navbar-nav-izq {
    display: flex;
    list-style-type: none;
    margin: 0px;
    justify-content:flex-start;
    margin: 0%;
    font-size: small;
  }
  .nav-item {
    /* margin-right: 10; */
    font-size: 17px ;
}
  
.nav-link {
    color: #fff;
    text-decoration: none;
    padding: 15px;
}

.nav-link-pat {
    text-decoration: none;
    margin-left: 20px;
}
  
.nav-link:hover {
    background-color: #321df1;
}